<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue动态添加数据</title>
	<style>
	    .ao {
	        display: inline-block;
	        width: 0;
	    }
	    .ao::before {
	        content: "love 你 love";
	        outline: 2px solid #000;
	        color: #fff;
	    }
	</style>
	
	
</head>
<body>
	<div id="app">
		<div v-img="val.url" v-for="val in list" style="width: 200px;height: 200px;"></div>
		<div class='ao'></div>
	</div>
	
	<script src="js/vue.js"></script>
	<script>


		let vm = new Vue({
			el:'#app',
			data:{
				list : [
					{url : "img/1.jpg"},
					{url : "img/2.jpg"},
					{url : "img/3.jpg"}
				]
			},
			methods:{
				

			}
		});
	</script>
</body>
</html>