<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>component</title>
	</head>
	<body>
		<div id="app">
			<div><my-component></my-component></div>
			
			<div><my-component1></my-component1></div>
			
			<div><my-tp></my-tp></div>
		</div>
		
		<template name="tpl"></template>
		
		
		<script src="js/vue.js"></script>
		
		<script type="text/x-template" id="tpl">
		  <p>月月，加油!</p>
		</script>
		
		<script>
			// 1 注册全局组件  
			Vue.component('my-component', {
			  template: '<p>A custom component!</p>',
			  // 组件中的 `data` 必须是函数 并且函数的返回值必须是对象
			  data() {
			    return {
			      msg: '注意：组件的data必须是一个函数！！！'
			    }
			  }
			})
			
			 Vue.component('my-component1',{
                    template:'#tpl'
            });
			
			
			let vm = new Vue({
				el : "#app",
				data(){
					return {
						
					}
				},
				
				components : {
					"my-tp" : {
						template : "<p>努力实现自己的{{dream}}！</p>",
						data(){
							return {
								dream : "梦想"
							}
						}
					}
				}
				
			})
		</script>
	</body>
</html>
