<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>子组件给父组件传值</title>
	</head>
	<body>
		<div id="app">
			<!-- 如果需要往子组件总传递父组件data中的数据 需要加v-bind="数据名称" -->
			<hello @pfn="parentFn"></hello>
			
			
		</div>
		

		
		
		<script src="js/vue.js"></script>
		

		
		<script>
		  Vue.component('hello', {
		    template:  '<button @click="fn">按钮</button>',
		    methods: {
		      // 子组件：通过$emit调用
		      fn() {
		        this.$emit('pfn', '这是子组件传递给父组件的数据')
		      }
		    }
		  })
		  let vm = new Vue({
		  	el : "#app",
		    methods: {
		      // 父组件：提供方法
		      parentFn(data) {
		        console.log('父组件：', data)
		      }
		    }
		  })
		</script>
	</body>
</html>
