<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>自定义过滤器</title>
		
		<style>
			
			[v-cloak]{
				display: none;
			}
		</style>
		
		

	</head>

	<body>
		<div id="app" style="height: 100%;" v-cloak="">
			<h1>{{ 8 | addZero }}</h1>
			
			<h3>{{ 12.345678 | number(2) }}</h3>

		</div>

		<script src="js/vue.js"></script>
		
		
		<script>
			/*1.过滤器用来过滤模型数据,在显示之前进行数据处理和筛选
			语法 : {{ data | filter1(参数) || filter2(参数) }}*/
			
			Vue.filter("addZero",function( data ){
				return data<10?"0"+data : data
			})
			
			Vue.filter("number",(data,n ) =>{
				return data.toFixed(n);
			})
			
			
			
			let vm = new Vue({
				el : "#app",
				data : {
					msg : "月月，加油！"
				},
				
				created : function(){
					
				}
				
			})
			
		</script>

		

	</body>

</html>