<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>directive</title>
	<style>
		
	</style>
	
	
</head>
<body>
	<div id="app">
		<div v-img="val.url" v-for="val in list" style="width: 200px;height: 200px;"></div>
		
	</div>
	
	<script src="js/vue.js"></script>
	<script>
//		谷歌图片的加载做得非常优雅，在图片未完成加载前，用随机的背景色占位，图片加载完成后才直接渲染出来。用自定义指令可以非常方便的实现这个功能。
		Vue.directive('img', {
	        inserted: function(el, binding) {
	          var color = Math.floor(Math.random() * 1000000);
	          el.style.backgroundColor = '#' + color;
	 
	          var img = new Image();
	          img.src = binding.value;
	          img.onload = function() {
	            setTimeout(function() {
	              el.style.backgroundImage = 'url(' + binding.value + ')';
	            },
	            1000);
	          }
	        }
	    });

		let vm = new Vue({
			el:'#app',
			data:{
				list : [
					{url : "img/1.jpg"},
					{url : "img/2.jpg"},
					{url : "img/3.jpg"}
				]
			},
			methods:{
				

			}
		});
	</script>
</body>
</html>