<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>解构赋值</title>

		<style>
			[v-cloak] {
				display: none;
			}
		</style>

	</head>

	<body>
		<div>
			

		</div>

		<script src="js/vue.js"></script>

		<script>

            // let [a,b,c] = ['AAA','BBB','CCC'];
            // console.info(a);
            // console.info(b);
            // console.info(c);

            // let [a,[b,c],d] = ['AAA',['BBB','CCC'],'DDD'];
            // console.info(a);
            // console.info(b);
            // console.info(c);
            // console.info(d);

            // let [ , , c] = ['AAAA', 'BBBB', 'CCCC'];
            // console.log(c); // CCCC


            // let [ a,b,c] = ['AAAA', ['B1B1', 'B2B2'],'CCCC'];
            // console.log(b); // CCCC

            // let {a, b} = {a: 'AAAA', b: 'BBBB'};
            // console.log(a); // AAAA
            // console.log(b); // BBBB

            // let {temA: temB} = 123;
            // console.info(Number.prototype.temA);
            // console.log(temB === Number.prototype.temA);
			

			
	
			
		</script>

	</body>

</html>