<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>获取组件（或元素） - refs</title>
	</head>

	<body>
		<div id="app">
			<div ref="dv">过客</div>
  			<my ref="my"></my>
		</div>

		<script src="js/vue.js"></script>

		<script>
			let vm = new Vue({
			    el : "#app",
			    mounted() {
			    	console.info( "==================dv" );
			    	console.info( this.$refs.dv );
			    	
			    	console.info( "==================my" );
			    	console.info( this.$refs.my );
			    	
			    },
			    components : {
			      my : {
			        template: `<a>sss</a>`
			      }
			    }
			  })
			
			
		</script>
	</body>

</html>