<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>axios</title>
		
		<style>
			
			[v-cloak]{
				display: none;
			}
		</style>
		
		

	</head>

	<body>
		<div id="app" style="height: 100%;" v-cloak="">
			
			<select v-model="selected">
				<option v-for="( item,index ) in list" :value=item>{{item.name}}</option>
			</select>
			
			<p>{{selected.name}}</p>
			

		</div>

		<script src="js/vue.js"></script>
		
			
		
		<script>
	
			let vm = new Vue({
				el : "#app",
				data : {
					list : [
						{ id : 1001,name:"苹果" },
						{ id : 1001,name:"橘子" }
					],
					selected　:　{}
				},
				
				created : function(){
					
				},
				
				methods : {
					
				}
				
			})
		</script>

		

	</body>

</html>