<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>slot内容分发</title>
	</head>

	<body>
		<div id="app">
			<hello>
				<p slot="wangyue">感谢你曾经来过！</p>
			</hello>
			
			<div>{{name + "(女" + age + ")"}}</div>
		</div>

		<script src="js/vue.js"></script>

		<script>
			let vm = new Vue({
			  el : "#app",
			 
			  components : {
			    "hello" : {
			      template : `
			      	<div>
			      		<p>有没有想起过我?</p>
			      		
			      		<slot name="wangyue"></slot>
			      	</div>
			      
			      `
			    },
			    
			    data(){
					return {
						name : "紫月",
						age : 34
					}
				},
			    
			   
			  }
			})
			
			
		</script>
	</body>

</html>